@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url("./fonts/OpenSans-Regular.woff2") format("woff2"),
        url("./fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
        url("./fonts/OpenSans-Bold.woff2") format("woff2"),
        url("./fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "PlovdinBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/PlovdivDisplay-Bold.otf");

}

@font-face {
    font-family: "Helvetika";
    src: url(./fonts/Helvetica-01_0.otf);
}

@font-face {
    font-family: "HelvetikaItal";
    src: url(./fonts/Helvetica-Oblique-03_0.otf);
}

@font-face {
    font-family: "Marck";
    src: url(./fonts/MarckScript-Regular.ttf);
}

@font-face {
    font-family: "Pattaya";
    src: url(./fonts/Pattaya-Regular.ttf);
}

@font-face {
    font-family: "BadScript";
    src: url(./fonts/BadScript-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    
}

h2, h3 {
    font-family: 'PlovdinBold';
    line-height: 110%;
}

a {
    color: inherit;
    text-decoration: none;
}

.page {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    min-width: 100%;
}

/* Класс для анимации появления сверху */
.scroll-fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

/* Класс для анимации выезда слева */
.scroll-slide-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease-out;
}

/* Класс для анимации увеличения */
.slide-inBig {
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.8s ease-out;
}

ul {
    /* list-style-type: none; */
}

.container {
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 550px) {
    .container {
        padding: 0 10px;
    }
}

.page-header {
    padding: 20px 0;
}

/* .navbar {
    
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-item:not(:last-child) {
    margin-right: auto;
}

.navbar-link {
    display: inline-block; 
    text-align: center;

    padding: 5px;
    color: rgb(238, 235, 235);
    text-decoration: none;
}

@media (max-width: 767px) {
    .navbar-link {
        color:black;
    }

    .navbar-item {
        margin: 0 auto;
    }
} */

.navbar-link:hover {
    opacity: 0.9;
}

.intro {
    
    background-image: url('./images/intro.webp');
    height: auto;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

@media (max-width:767px) {
    .intro {
        padding-top: 120px;
    }
    
}

.intro .container {
    /*padding-right: 550px;*/
}

.intro-content {
    max-width: 82%;
    
}

@media (max-width: 828px) {
    .intro-content {
       max-width: 97%; 
       margin: 0;
    }
    
}

.intro-title {
    font-family: 'Marck';
    font-size: 52px;
    font-weight: bold;
    line-height: 110%;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0;
}

@media (max-width:607px) {
    .intro-title {
        font-size: 37px;
    }
    
}

.intro-text-wrapper {
    margin-top: 25px;
    font-family: 'HelvetikaItal';
    font-size: 21px;
}


.intro-text-wrapper p {
    margin: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.75s ease;
}

.intro-text-wrapper p:not(:last-child) {
    margin-bottom: 20px;
}

.page-content {
   /* background-image: linear-gradient(90deg, #fff 50%, #242424 50%);*/
}

.page-content  {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-right: auto;
    max-width: 100%;
}

.page-main-column, .sidebar {
    min-width: 0;
}

@media screen and (max-width: 1120px) {
    .page-content {
        flex-direction: column-reverse;
    }
}

.page-main-column {
    background-color: #fff;
    padding: 10px;
}

.page-section {
    position: relative;
    max-width: 880px;
    padding: 25px 15px 35px;
}

.page-section-with-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #ecebe8;
}

.program-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 5.95vh;
    font-weight: 700;
    line-height: 110%;
}

.program-text-wrapper p {
    margin: 0;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
}

.program-text-wrapper p:not(:last-child) {
    margin-bottom: 10px;
}

.program-row {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

@media screen and (max-width: 775px) {
    .program-row {
        flex-direction: column;
        margin-bottom: 25px;
        max-width: 595px;
        margin-left: auto;
        margin-right: auto;
    
    
    }

    .program-right {
        margin-right: auto;
    }
}

@media screen and (min-width: 955px) {
    
}

.program-image-wrapper {
    min-height: 171px;
    overflow: hidden;
    border-radius: 20px;
}

.program-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.program-subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.program-list {
    margin: 0;
    padding: 21px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Dudka';
    font-size: 21px;
}

.program-list li {
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;

}

.program-list li::marker {
    
}

/*------- Карусель картинок ------*/

/* Контейнер карусели */
.auditory-carousel {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

/* Дорожка слайдов */
.auditory-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

/* Каждый слайд */
.auditory-image-wrapper {
  min-width: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}

.auditory-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  object-fit: cover;
}

/* Кнопки управления */
.auditory-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.auditory-btn.prev {
  left: 10px;
}

.auditory-btn.next {
  right: 10px;
}

.auditory-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}



/*-----------------*/
.auditory {
    position: relative;
}

.auditory-content {
    position: relative;
    z-index: 1;
}

.auditory-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}

.auditory-top {
    max-width: 635px;
    margin: 0 auto;
}

.auditory-image-wrapper {
    border-radius: 20px;
    overflow: hidden;
    min-width: 100%; /* ширина каждого слайда = ширина контейнера */
    max-height: 400px;
}

.auditory-image {
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.auditory-bottom {
    margin-top: 30px;
    margin-left: 10%;
}

@media (max-width: 710px) {
    .auditory-bottom {
        margin-left: 1.5%;
    }
}

.auditory-list {
    font-family: 'HelvetikaItal';
    font-size: 21px;
    margin: 0;
    row-gap: 5px;
    column-gap: 20px;
    padding: 30px;
    
}

.auditory-list li {

}




@media (max-width: 850px) {
    .auditory-list {
        display: block;
        padding: 20px;
    }
}

.auditory-list li {
    margin-top: 10px;
}

.prices-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}

.prices-text-wrapper p {
    margin: 0;
    text-align: justify;
}

.prices-text-wrapper p:not(:last-child) {
    margin-bottom: 10px;
}

.prices-table {
    width: 99%;
    margin-top: 30px;
    margin-right: 5px;
    border-collapse: collapse;
    overflow-x: auto;
}

@media screen and (max-width: 670px) {
    .prices-table {
        display: none;
    }
}

.prices-table th {
    padding: 20px;
    background-color: #242424;
    font-weight: 700;
    color: #fff;
    text-align: left;
}

.prices-table td {
    padding: 20px;
    font-size: 16px;
}

.prices-table tr:nth-child(odd) td {
    background-color: #f2f2f2;
}

.prices-table th:first-child,
.prices-table td:first-child {
    border-radius: 15px 0 0 15px;
}

.prices-table th:last-child,
.prices-table td:last-child {
    border-radius: 0 15px 15px 0;
}

.prices-caption {
    margin-top: 10px;
    font-size: 14px;
    color: #9D9D9D;
}

.services-content {
    position: relative;
    z-index: 1;
}

.services-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}

.services-text p {
    margin: 0;
    text-align: justify;
    padding-right: 15px;
}

.services-text-wrapper p:not(:last-child) {
    margin-bottom: 10px;
}

.services-row {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 40px;
    margin-top: 30px;
}

@media (max-width: 787px) {
    .services-row {
        display: flex;
        flex-direction: column;
    }
}

.services-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.services-list li {
    display: flex;
    align-items: flex-start;
    gap: 7px;
}

.services-list label {
    font-size: 18px;
    line-height: 110%;
}

.services-right {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.services-price {
    margin-top: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #242424;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}

.reviews-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}

.reviews-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f8f8f8;
    max-width: 800px;
}

.reviews-item:not(:last-child) {
    margin-bottom: 20px;
}

.reviews-item-image-wrapper {
    max-width: 180px;
    width: 100%;
    height: auto;
    
    overflow: hidden;
}

.reviews-item-image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.reviews-item-content {
    max-width: 800px;
    min-width: 150px;
}

/*--------- Кастомный чекбокс ----------*/

.custom-checkbox {
    all: unset;
}

.custom-checkbox {
    display: inline-block;
    min-width: 15px;
    height: 15px;
    border: 2px solid #4f84a7;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    /* margin-left: 5px; */
}

.custom-checkbox:checked  {
    background-color: rgb(235, 237, 242);
    border-color: rgb(83, 80, 85);
    position: relative;
}

.custom-checkbox:checked::after {
    content: '✓';
    position: absolute;
    color: rgb(47, 224, 47);
    font-size: 28px;
    font-weight: 900;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -62%);
}

/* ----------------- */

@media (min-width: 698px) {
    
    .reviews-item-content {
        width: 55%;
    }   
    
}

.reviews-item-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 150/150;
}

.reviews-item-text-wrapper {
    font-family: 'BadScript';
    font-size: 24px;
    text-align: justify;
}

.reviews-item-wrapper p {
    margin: 0;
}

.reviews-item-text-wrapper p:not(:last-child) {
    margin-bottom: 10px;
}

.reviews-item-author {
    margin-top: 20px;
    font-family: 'BadScript';
    font-size: 18px;
    font-weight: 400;
}

.page-section .contacts {
    padding-top: 0;
    padding-bottom: 80px;
}

.contacts-content {
    padding: 30px;
    border-radius: 20px;
    background-color: #f8f8f8;
}

@media (max-width: 600px) {
    .contacts-content {
        padding: 20px;
    }
}

.contacts-text-wrapper {
    font-size: 20px;
    font-weight: 600;
    line-height: 115%;
    max-width: 501px;
}

.contacts-text-wrapper p {
    margin: 0;
}

.contacts-text-wrapper p:not(:last-child) {
    margin-bottom: 10px;
}

.contacts-form {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.form-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 370px;
    width: 100%;
}

.form-left input {
    width: 100%;
    height: 35px;
    
    border: 1.5px solid #4f84a7;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 18px;
}

.form-left button {
    width: 100%;
    height: 35px;
    border: 1.5px solid #4f84a7;
    border-radius: 5px;
    background-color: rgb(89, 193, 193);
    font-size: 18px;
    font-weight: 700;
    color: #363434;
    cursor: pointer;
    transition: background-color 0.45s ease;
}

.form-left button:hover {
    background-color: rgb(38, 169, 169);
}

.contacts-form-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.contacts-tariff-label {
    font-weight: 700;
}

.contacts-address {
    margin-top: 40px;
    font: inherit;
}

.contacts-btn {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 15px;
    background-color: #242424;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.35s ease;
    cursor: pointer;
}

.contacts-btn:hover {
    background-color: #414040;
}

.contacts-btn div {
    text-align: center;
}

.contacts-btn img {
    /* margin: 0 auto; */
    width: 35px;
    margin-left: 25px;

}

@media (max-width: 500px) {
  .contacts-btn {
    font-size: 24px;
    padding: 15px 20px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}

@media (max-width: 500px) {
  .contacts-btn {
    font-size: 19px;
    padding: 10px;
  }
  .contacts-btn::after {
    top: 15px;
    right: 20px;
    width: 25px;
    height: 25px;
  }

  .contacts-btn img {
    display: none;
  }
}

.contacts-btn:hover {
    color: rgba(255, 255, 255, 0.5);
}

.contacts-btn:hover::after {
    opacity: 0.5;
}

.contacts-select {
    border: 2px solid #4f84a7;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.contacts-select option {
    
}

.sidebar {
    padding: 12px 12px 50px;
    background-color: #242424;
    color: #fff;
    box-sizing: border-box;
    max-height: fit-content;
}

.sidebar-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.sidebar-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 1120px) {
    .sidebar {
        width: 100%;
        padding: 10px;
    }

    .sidebar-list {
        flex-direction: row;
        /* gap: 30px; */
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
    }

    .sidebar-list li {
        min-width: 150px;
    }
}

.card-image-link {
    display: block;
    width: 100%;
    height: 160px;
    border-radius: 20px;
    display: block;
    overflow: hidden;
}

.card-image-link:hover {
    opacity: 0.5;
}

.card-image {
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card-image-title {
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.card-image-title a {
    color: inherit;
    text-decoration: none;
}

.card-image-title a:hover {
    opacity: 0.5;
}

.page-footer {
    padding: 30px 0;
    background-color: #242424;
    color: #fff;
}

.page-footer .container {
    @media (min-width: 988px) {
        padding-right: 390px;
    }
    
}

.copyright {
    text-align: center;
}


